PORT=4300
APP_NAME=AWS-ACCESS-PORTAL
COLLECTOR_HOST=13.233.230.28
COLLECTOR_PORT=514
SECURITY_GROUP_NAME=web-app-guard
AWS_REGION=ap-south-1
VPC_ID=vpc-0674422f23a65f05f
COLLECTOR_INSTANCE_ID=i-0196594d0ab6ada82
COLLECTOR_PRIVATE_IP=172.31.39.53
PROTECTED_SERVICE_LABEL=Secure Analytics Workload
PORTAL_USERNAME=viewer
PORTAL_PASSWORD=viewer123
PROTECTED_FILE_PATH=/opt/protected-source/secure-workload-note.txt
DYNAMODB_EVENTS_TABLE=cisco-security-events
